<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto ASP.NET</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/css/buttons.css" />
</head>
<body>
    <header>
        <h1 class="title-main">Movtech Systems</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="/js/scripts.js"></script>
</body>
</html>
